body {
  font-family: "Alegreya Sans", sans-serif;
}
.forecast-icons {
  width: 40px;
}

.city {
  font-size: 38px;
}

.row {
  text-align: center;
}

h1 {
  text-align: center;
  padding: 0 10px;
}
h2 {
  color: darkblue;
  font-size: 62px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
}
p {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.temperature-description {
  text-transform: capitalize;
}
h3 {
  color: #b71c1c;
  text-align: center;
  font-size: 15px;
}

.card-header {
  text-align: center;
  font-size: 28px;
  color: #423144;
}
.card-title {
  font-size: 18px;
  text-align: center;
  margin: 2px;
  color: #d50000;
}

.card-text {
  text-align: center;
  color: black;
}
.card {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  flex-direction: column;
  min-width: max-content;
  max-width: 250px;
  position: relative;
  margin: 0 auto;
  display: block;
}

form {
  width: 200px;
  margin: auto;
  position: relative;
  height: 38px;
}
.precipitation {
  font-size: 10px;
}
.day-date {
  font-size: 14px;
}
.temperatures {
  font-size: 14px;
}
.table tr {
  text-align: center;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 0 0;
  vertical-align: middle;
}

.table th {
  padding: 0 0;
}

.table {
  max-width: 200px;
  border-collapse: separate;
  border-spacing: 0 2px;
  margin-bottom: 0px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1px;
  padding: 0;
}

.card-header .active {
  color: #423144;
  cursor: default;
}

.card-header .active:hover {
  text-decoration: none;
}
.table td {
  padding: 0;
  vertical-align: middle;
}
strong {
  font-size: 11px;
}

card {
  padding: 10px;
}
